{% extends "base.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block content %}
    <script>
        function myFunction(){
            document.getElementById("hello").innerHTML = "Getting Images...";
        }
    </script>
    <form action="{% url 'get-images-view' %}" method = 'POST'>
        {% csrf_token %}
        <div class="container" >
            {{ form|crispy }}

            <button type="submit" class="btn btn-outline-primary" onclick="setTimeout(myFunction, 300)">Get Images<i class="icon-search-1"></i></button>
            <a class="btn btn-outline-primary" href="">Refresh</a>
        </div>
    </form>
    </br>
    <div class="container">
    <h1 id="hello" class="font-weight-light text-center text-lg-left mt-4 mb-0">{{ message }}</h1>
    <hr class="mt-2 mb-5">
    <div class="row text-center text-lg-left">
            {% for image in imageset %}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="{{ image }}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ image }}" alt="">
        </a>
        </div>
            {% endfor %}
        </div>
    </div>
   
{% endblock %}
{%comment%}
<div class="container">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>
    <hr class="mt-2 mb-5">
    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="{{ image }}" alt="">
        </div>
    </div>
</div>
{%endcomment%}