{% extends 'base.html' %}
{% load static %}
{% block content %}
	<form action="{% url 'search-results-view' %}">
        <div class="input-group">
            <input type="text" class="form-control rounded" name = "name" id="search" placeholder="Search for a name">

                <button type="submit" class="btn btn-outline-primary">Search<i class="icon-search-1"></i></button>
                    <!--<button type="button" class="btn btn-outline-primary">search</button>-->
        </div>
    	</br>
        <div class="form-group">
          	<label for="exampleFormControlTextarea1"><h4>{{ message }}</h4></label>
    		<textarea disabled class="text-left" rows="10" style="width:536px;font-size: 16px;" id="textareaMessage">
    			{% for data in queryset %}
                    {{ loop.index }}
    				Name: {{ data.name }}
    				URL: {{ data.url }}
    				Phone No: {{ data.phone_number }}
				{% endfor %}
    		</textarea>
  		</div>
    </form>
{% endblock %}


